{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header bg-info text-white"> 
                    <h5 class="card-title">Create a password to start your membership</h5>
                    <h6 class="card-subtitle mb-2 ">Just a few more steps and you're done!</h6>
                </div>
                <div class="card-body">

                    <form method="POST">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}">Username (email):</label>
                            {{ form.username }}
                            {{ form.username.errors }}

                        </div>
                        <div class="form-group">

                            <label for="{{ form.password1.id_for_label }}">Password:</label>
                            {{ form.password1 }}
                            {{ form.password1.errors }}
                        </div>
                        <button type="submit">Login</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
 